<?xml version="1.0" ?>
<robot name="simple_omni"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find nhk2023_simulator)/urdf/omni_body.urdf.xacro" />
    <xacro:include filename="$(find nhk2023_simulator)/urdf/omni_wheel.urdf.xacro" />

    <xacro:include filename="$(find nhk2023_simulator)/urdf/lidar.urdf.xacro" />
    <xacro:include filename="$(find nhk2023_simulator)/urdf/imu.urdf.xacro" />

    <xacro:laser_macro prefix="rplidar" parent="base_link" xyz="0.23 0 0.04" />
    <xacro:imu_macro prefix="imu" parent="base_link" xyz="0.0 0 0.10" />


    <xacro:wheel rl="rf" parent="base_link" />
    <xacro:wheel rl="lf" parent="base_link" />
    <xacro:wheel rl="rb" parent="base_link" />
    <xacro:wheel rl="lb" parent="base_link" />

</robot>
